@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,400;1,500;1,700&display=swap');

body {
  font-family: 'Montserrat', 'DM Sans', sans-serif;
  font-size: 100%;
}
