/******************* COLORS ************************/
$primary-color: #ff0000;
$secondary-color: #282d30;
$secondary-text-color: #74798c;
$title-text-color: #20253a;
$light-background: #fbfbfb;
$tooltip-hover: grey;
$sessions-graph-legend: #9b9eac;
$sessions-graph-colomn: #c4c4c4;

$back-white: white;
