.radial-chart-svg {
  background-color: #f5f7f9;
  border-radius: 5px;
}
.radial_chart {
    grid-area: 1 / 3 / 2 / 4; 
}
.radial{
    fill:$secondary-text-color;
    text-anchor:middle;
    font-size:1.8rem;
}
.radial_title {
    font-size:1.5rem;
}

.r--black{
    fill:black;
}

/**************** Responsive ****************/
@media screen and (max-width: 1550px) {
    .radial{
      font-size: 1.3rem;
    }
    .radial_title {
        font-size:1.2rem;
    }
  }
  
  @media screen and (max-width: 1250px) {
    .radial {
      font-size: 1rem;
      font-weight: bold;
    }
    .radial_title {
        font-size:1rem;
    }
  }