/**************** Radial Chart ****************/
// Radial Chart Section
.radial_chart {
  grid-area: 1 / 3 / 2 / 4;
  background-color: #f5f7f9;
  border-radius: 5px;
}
// Radial Legend
.radial_legend {
  font-size: 1.5rem;
}
// Radial Text
.radial_text {
  fill: $secondary-text-color;
  text-anchor: middle;
  font-size: 1.8rem;
}
// Score color
.r--black {
  fill: black;
}

/**************** Responsive ****************/
@media screen and (max-width: 1550px) {
  .radial_text {
    font-size: 1.3rem;
  }
  .radial_legend {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1250px) {
  .radial_text {
    font-size: 1rem;
    font-weight: bold;
  }
  .radial_legend {
    font-size: 1rem;
  }
}
