@charset "UTF-8";
/******************* COLORS ************************/
/******************* Global Flex ************************/
/******************* Center of the page *******************/
/******************* Margin *******************/
/******************* Width and height *******************/
/******************* Accessibility ************************/
@import url("https://fonts.googleapis.com/css2?family=Roboto");
body {
  min-width: 1024px;
  min-height: 780px;
  margin: 0;
}

* {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Roboto", "DM Sans", sans-serif;
  font-size: 100%;
}

/**************** Bannière ****************/
.top_message_name {
  font-size: 48px;
  margin-top: 0;
}
.top_message_name span {
  color: red;
}
.top_message_text {
  font-size: 18px;
  font-weight: 400;
}

/**************** Responsive ****************/
/**************** Header ****************/
.header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  padding: 20px;
  background-color: black;
  /*& .active {
    text-decoration: underline;
  }*/
}
.header_logo {
  width: 178px;
  height: 61px;
}
.header_link {
  font-size: 24px;
  color: white;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
  text-decoration: none;
  margin-left: 30px;
}

nav {
  width: stretch;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/**************** Responsive ****************/
@media screen and (max-width: 768px) {
  .header_link {
    text-transform: uppercase;
    font-size: 12px;
    margin-left: 10px;
  }
}
@media screen and (max-width: 360px) {
  .header_link {
    font-size: 10px;
    margin-left: 5px;
  }
}
/**************** Footer ****************/
.sidebar {
  width: 120px;
  display: flex;
  background-color: black;
  z-index: -1;
  flex-direction: column;
  height: auto;
  justify-content: space-around;
}
.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sidebar_text {
  color: white;
  font-size: 12px;
  transform: rotate(-90deg);
  white-space: nowrap;
}
.sidebar_logo {
  width: 64px;
}

/**************** Responsive ****************/
#activity_data_section {
  width: 20%;
}

.activity {
  display: flex;
  gap: 39px;
  flex-direction: column;
  flex-wrap: nowrap;
}
.activity_item {
  display: flex;
  width: 258px;
  height: 124px;
  background-color: #fbfbfb;
  border-radius: 5px;
  padding: 32px;
}
.activity_item_icon {
  width: 60px;
  height: 60px;
}
.activity_item_text {
  margin-left: 24px;
}
.activity_item_text p {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #282d30;
  margin: 0;
}
.activity_item_text h3 {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #74798c;
  margin: 0;
}

/**************** Charts Main Block ****************/
#charts_block {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px;
}

#performance_chart_section {
  width: 70%;
  display: flex;
  gap: 30px;
  flex-flow: nowrap column;
}

.bar_chart_tooltip {
  opacity: 0;
  width: 80;
  height: 210;
  fill: grey;
  transition: 0.15s ease-in-out;
  opacity: 0;
}
.bar_chart_tooltip:hover {
  transition: 0.15s ease-in-out;
  opacity: 0.2;
}

.bar_chart_tooltip-red {
  fill: #ff0000;
  rx: 3px;
}

.bar_chart_tooltip-text {
  text-anchor: middle;
  font-size: 7px;
  fill: white;
}

.red_circle {
  fill: #ff0000;
}

.legends_text {
  fill: #74798c;
  color: #74798c;
  font-size: 14px;
}

.chart_axis_grid {
  stroke-dasharray: 3, 3;
  color: lightgray;
}

.chart_axis {
  font-size: 1rem;
}

.calories_line {
  stroke: #ff0000;
  stroke-width: 8;
}

.weight_line {
  stroke: black;
  stroke-width: 8;
}

.rounded_line {
  stroke-linecap: round;
}

.butted_line {
  stroke-linecap: butt;
}

/**************** Line Chart ****************/
.tooltips {
  opacity: 0;
  fill: white;
}

.t--transparent {
  fill: rgba(0, 0, 0, 0.1);
}

.t--white {
  fill: white;
}

.t--text {
  text-anchor: middle;
  fill: black;
}

.t--lowOpacity {
  fill: rgba(255, 255, 255, 0.504);
}

.radial {
  fill: #74798c;
  text-anchor: middle;
  font-size: 1.8rem;
}

.radial_title {
  font-size: 1.5rem;
}

.r--black {
  fill: black;
}

/**************** Home Page ****************/
#main_section {
  display: flex;
}

#charts_block {
  padding: 65px 105px 65px 105px;
}

/*# sourceMappingURL=style.css.map */
