@charset "UTF-8";
/******************* COLORS ************************/
/******************* Global Flex ************************/
/******************* Center of the page *******************/
/******************* Margin *******************/
/******************* Width and height *******************/
/******************* Accessibility ************************/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,400;1,500;1,700&display=swap");
body {
  min-width: 320px;
  margin: 0;
}

* {
  box-sizing: border-box;
}

#root {
  min-width: 320px;
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Montserrat", "DM Sans", sans-serif;
  font-size: 100%;
}

/**************** Bannière ****************/
.banner {
  width: 100%;
  height: 223px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background-color: #c4c4c4;
  border-radius: 20px;
}
.banner_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-filter: brightness(20%);
  filter: brightness(90%);
  border-radius: 20px;
}
.banner_text {
  position: absolute;
  font-size: 30px;
  color: white;
  font-weight: bold;
}

/**************** Responsive ****************/
@media screen and (max-width: 768px) {
  .banner {
    height: 111px;
  }
  .banner_text {
    font-size: 24px;
  }
}
@media screen and (max-width: 475px) {
  .banner_text {
    font-size: 18px;
  }
}
/**************** Card ****************/
.card {
  width: 340px;
  height: 340px;
  position: relative;
  background-color: #c4c4c4;
  display: flex;
  align-items: flex-end;
  border-radius: 10px;
}
.card_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.card_title {
  position: absolute;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 18px;
  color: white;
  font-weight: 500;
}

/**************** Responsive ****************/
@media screen and (max-width: 768px) {
  .card {
    width: 85.5vw;
    height: 255px;
    min-width: 320px;
  }
}
/**************** Collapse Element ****************/
.collapse {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.collapse_title {
  position: relative;
  background-color: #ff6060;
  width: 100%;
  padding: 10px 25px 10px 25px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
  color: white;
  display: flex;
  justify-content: space-between;
}
.collapse_title .unrotate-arrow {
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
}
.collapse_title .rotate-arrow {
  transform: rotate(-180deg);
  transition: 0.5s ease-in-out;
}
.collapse_content {
  width: 100%;
  padding: 45px 25px 30px 25px;
  margin-top: -10px;
  font-size: 18px;
  font-weight: 400;
  color: #ff6060;
  background-color: #f6f6f6;
  border-radius: 10px;
}

/**************** Responsive ****************/
@media screen and (max-width: 768px) {
  .collapse_title {
    font-size: 13px;
  }
  .collapse_title .rotate-arrow {
    width: 18px;
  }
  .collapse_content {
    padding: 20px 10px 10px 10px;
    font-size: 12px;
  }
}
/**************** Lightbox ****************/
.lightbox {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
  mix-blend-mode: normal;
}
.lightbox_image {
  width: 85vw;
  height: 45.5vh;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 25px;
}
.lightbox_index {
  position: absolute;
  bottom: 30px;
  left: 50%;
  color: white;
  font-size: 18px;
  font-weight: 500;
  text-shadow: black 1px 1px;
}
.lightbox .chevron {
  width: 47px;
  height: 70px;
  position: absolute;
  fill: white;
  cursor: pointer;
  stroke: rgba(0, 0, 0, 0.507);
  stroke-width: 10;
}
.lightbox .left {
  left: 70px;
}
.lightbox .right {
  right: 70px;
}

/**************** Responsive ****************/
@media screen and (max-width: 768px) {
  .lightbox_image {
    height: 30vh;
    border-radius: 10px;
    min-width: 320px;
  }
  .lightbox_index {
    display: none;
  }
  .lightbox .chevron {
    width: 20px;
    height: 30px;
  }
  .lightbox .left {
    left: 10px;
  }
  .lightbox .right {
    right: 10px;
  }
}
/**************** Description ****************/
.description {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 50px;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 30px;
}
.description_left {
  width: 50%;
  border-radius: 10px;
}
.description_right {
  width: 50%;
  border-radius: 10px;
}

/**************** Responsive ****************/
@media screen and (max-width: 768px) {
  .description {
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .description_left {
    width: 100%;
  }
  .description_right {
    width: 100%;
  }
}
/**************** Gallery ****************/
.gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 1 0 auto;
  gap: 50px;
  padding: 50px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #f6f6f6;
  border-radius: 20px;
}

/**************** Responsive ****************/
@media screen and (max-width: 768px) {
  .gallery {
    gap: 20px;
    padding: 0px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
/**************** Apartment Info ****************/
.info {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
}
.info_leftBlock h1 {
  font-size: 36px;
  color: #ff6060;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 0px;
}
.info_leftBlock p {
  font-size: 18px;
  color: #ff6060;
  margin-top: 10px;
  margin-bottom: 30px;
}
.info_leftBlock_tags {
  margin-top: 10px;
}
.info_leftBlock_tags span {
  font-size: 14px;
  padding: 5px 25px 5px 25px;
  margin-right: 10px;
  border-radius: 10px;
  color: white;
  background-color: #ff6060;
}
.info_rightBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.info_rightBlock_host {
  display: flex;
  flex-direction: row;
}
.info_rightBlock_host p {
  color: #ff6060;
  width: min-content;
  text-align: right;
  font-size: 18px;
  margin-right: 10px;
}
.info_rightBlock_host img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.info_rightBlock_ratings {
  width: max-content;
}
.info_rightBlock_ratings .stars {
  margin-top: 19px;
  width: 30px;
  height: 30px;
}

/**************** Responsive ****************/
@media screen and (max-width: 768px) {
  .info {
    flex-direction: column;
    align-items: normal;
  }
  .info_leftBlock h1 {
    font-size: 18px;
  }
  .info_leftBlock p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .info_leftBlock_tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .info_leftBlock_tags span {
    font-size: 10px;
  }
  .info_rightBlock {
    margin-top: 10px;
    flex-direction: row-reverse;
    align-items: stretch;
    justify-content: space-between;
  }
  .info_rightBlock_host p {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 12px;
  }
  .info_rightBlock_host img {
    width: 32px;
    height: 32px;
  }
  .info_rightBlock_ratings {
    width: max-content;
  }
  .info_rightBlock_ratings .stars {
    margin-top: 10px;
    width: 15px;
    height: 15px;
  }
}
/**************** Header ****************/
.header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  padding: 20px;
  background-color: black;
  /*& .active {
    text-decoration: underline;
  }*/
}
.header_logo {
  width: 178px;
  height: 61px;
}
.header_link {
  font-size: 24px;
  color: white;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
  text-decoration: none;
  margin-left: 30px;
}

nav {
  width: -webkit-fill-available;
  width: -moz-available;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/**************** Responsive ****************/
@media screen and (max-width: 768px) {
  .header_logo {
    width: 160px;
    height: 80px;
  }
  .header_link {
    text-transform: uppercase;
    font-size: 12px;
    margin-left: 10px;
  }
}
@media screen and (max-width: 360px) {
  .header_link {
    font-size: 10px;
    margin-left: 5px;
  }
}
/**************** Footer ****************/
.sidebar {
  width: 120px;
  height: -webkit-fill-available;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background-color: black;
  z-index: -1;
  bottom: 0;
  padding: 50px;
}
.sidebar_text {
  width: 100%;
  color: white;
  font-size: 12px;
  bottom: 100px;
  transform: rotate(-90deg);
  white-space: nowrap;
  margin-top: 300px;
}
.sidebar nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  margin-top: 200px;
}
.sidebar_logo {
  width: 64px;
}

/**************** Responsive ****************/
@media screen and (max-width: 768px) {
  .footer_text {
    font-size: 12px;
  }
  .footer_logo {
    margin-bottom: 30px;
  }
}
/**************** A propos Page ****************/
#Apropos {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 auto;
  gap: 30px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

/**************** 404 Error ****************/
#error404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 auto;
  color: #ff6060;
  margin-top: -100px;
  text-align: center;
}
#error404 h1 {
  font-size: 288px;
  margin-bottom: 10px;
}
#error404 a {
  margin-top: 100px;
  margin-bottom: 40px;
  text-decoration: none;
  color: #ff6060;
}

/**************** Responsive ****************/
@media screen and (max-width: 768px) {
  #error404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ff6060;
    margin-top: 0px;
    flex: 1 0 auto;
  }
  #error404 h1 {
    font-size: 96px;
    margin-bottom: 10px;
  }
  #error404 h2 {
    font-size: 18px;
  }
  #error404 a {
    font-size: 14px;
    margin-top: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
