.bar_chart {
  grid-area: 2 / 1 / 3 / 4;
}
.bar_chart_tooltip {
  opacity: 0;
  width: 80;
  height: 210;
  fill: $tooltip-hover;
  transition: 0.15s ease-in-out;
  opacity: 0;
  &:hover {
    transition: 0.15s ease-in-out;
    opacity: 0.2;
  }
}
.bar_chart_tooltip-red {
  fill: $primary-color;
  rx: 3px;
}

.bar_chart_tooltip-text {
  text-anchor: middle;
  font-size: 7px;
  fill: $back-white;
}

.red_circle {
  fill: $primary-color;
}

.legends_text {
  fill: $secondary-text-color;
  color: $secondary-text-color;
  font-size: 14px;
}

.chart_axis_grid {
  stroke-dasharray: 3, 3;
  color: lightgray;
}

.chart_axis {
  font-size: 1rem;
}

.calories_line {
  stroke: $primary-color;
  stroke-width: 8;
}
.weight_line {
  stroke: black;
  stroke-width: 8;
}

.rounded_line {
  stroke-linecap: round;
}

.butted_line {
  stroke-linecap: butt;
}
