/**************** Description ****************/
.description {
  @include wh-100;
  display: flex;
  gap: 50px;
  font-weight: 500;
  @include margin-tb(30px, 30px);
  // Left Block
  &_left {
    width: 50%;
    border-radius: 10px;
  }
  // Right Block
  &_right {
    width: 50%;
    border-radius: 10px;
  }
}

/**************** Responsive ****************/
@media screen and (max-width: 768px) {
  .description {
    flex-direction: column;
    gap: 10px;
    @include margin-tb(10px, 0px);
    &_left {
      width: 100%;
    }
    &_right {
      width: 100%;
    }
  }
}
