/**************** Footer ****************/
.footer {
  @include wh(116.3%, 209px);
  @include flex-column-center;
  justify-content: space-evenly;
  flex-shrink: 0;
  background-color: black;
  padding: 50px;
  margin-top: 30px;
  // Footer Text
  &_text {
    color: $back-white;
    font-size: 24px;
  }
  // Footer Logo
  &_logo {
    width: 115px;
    margin-bottom: 50px;
  }
}
/**************** Responsive ****************/
@media screen and (max-width: 768px) {
  .footer {
    &_text {
      font-size: 12px;
    }
    &_logo {
      margin-bottom: 30px;
    }
  }
}
