/**************** Line Chart ****************/
.tooltips {
  opacity: 0;
  fill: $back-white;
}

.t--transparent {
  fill: rgba(0, 0, 0, 0.1);
}

.t--white {
  fill: $back-white;
}

.t--text {
  text-anchor: middle;
  fill: black;
}

.t--lowOpacity {
  fill: rgba(255, 255, 255, 0.504);
}
