/**************** Charts Main Block ****************/

#charts_block {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-rows: fit-content(100%) fit-content(100%) 1fr;
  grid-template-columns: fit-content(100%) fit-content(100%) 1fr;
  grid-row-gap: 30px;
}

#performance_chart_section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 30px;
}
