/**************** Description ****************/

#charts_block {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px;
}

#performance_chart_section {
  width: 70%;
}
.description {
  @include wh-100;
  display: flex;
  gap: 50px;
  font-weight: 500;
  @include margin-tb(30px, 30px);
  // Left Block
  &_left {
    width: 50%;
    border-radius: 10px;
  }
  // Right Block
  &_right {
    width: 50%;
    border-radius: 10px;
  }
}

/**************** Responsive ****************/
@media screen and (max-width: 768px) {

}
