/**************** Charts Main Block ****************/
#charts_block {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px;
}

#performance_chart_section {
  width: 70%;
  display: flex;
  gap: 30px;
  flex-flow: nowrap column;
}
