/**************** Footer ****************/
.sidebar {
  @include wh(120px, -webkit-fill-available);
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background-color: black;

  z-index: -1;
  bottom: 0;
  padding: 50px;

  // Footer Text
  &_text {
    width: 100%;
    color: $back-white;
    font-size: 12px;
    bottom: 100px;
    transform: rotate(-90deg);
    white-space: nowrap;
    margin-top: 300px;
  }
  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin-top: 200px;
  }
  // Footer Logo
  &_logo {
    width: 64px;
  }
}
/**************** Responsive ****************/
@media screen and (max-width: 768px) {
  .footer {
    &_text {
      font-size: 12px;
    }
    &_logo {
      margin-bottom: 30px;
    }
  }
}
