/**************** Footer ****************/
.sidebar {
  width: 120px;
  display: flex;
  background-color: black;
  z-index: -1;
  flex-direction: column;
  height: auto;
  justify-content: space-around;
  nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  // Footer Text
  &_text {
    color: white;
    font-size: 12px;
    transform: rotate(-90deg);
    white-space: nowrap;
  }
  // Footer Logo
  &_logo {
    width: 64px;
  }
}

