/**************** Bannière ****************/
.banner {
  @include wh(100%, 223px);
  position: relative;
  @include flex-row-center;
  justify-content: center;
  flex-shrink: 0;
  background-color: $dark-grey;
  border-radius: 20px;
  // Banner Image
  &_image {
    @include wh-100;
    object-fit: cover;
    -webkit-filter: brightness(20%);
    filter: brightness(90%);
    border-radius: 20px;
  }
  // Banner Text
  &_text {
    position: absolute;
    font-size: 30px;
    color: $back-white;
    font-weight: bold;
  }
}
/**************** Responsive ****************/
@media screen and (max-width: 768px) {
  .banner {
    height: 111px;
    &_text {
      font-size: 24px;
    }
  }
}

@media screen and (max-width: 475px) {
  .banner_text {
    font-size: 18px;
  }
}
