/**************** Bannière ****************/
.top_message {
  grid-area: 1 / 1 / 2 / 5;
  // Banner Image
  &_name {
    font-size: 48px;
    margin-top: 0;
    span {
      color: red;
    }
  }
  // Banner Text
  &_text {
    font-size: 18px;
    font-weight: 400;
  }
}
/**************** Responsive ****************/
