/**************** 404 Error ****************/
#error404 {
  @include flex-column-center;
  flex: 1 0 auto;
  color: $primary-color;
  margin-top: -100px;
  text-align: center;
  // 404
  h1 {
    font-size: 288px;
    margin-bottom: 10px;
  }
  // Link to home
  a {
    @include margin-tb(100px, 40px);
    text-decoration: none;
    color: $primary-color;
  }
}
/**************** Responsive ****************/
@media screen and (max-width: 768px) {
  #error404 {
    @include flex-column-center;
    color: $primary-color;
    margin-top: 0px;
    flex: 1 0 auto;
    h1 {
      font-size: 96px;
      margin-bottom: 10px;
    }
    h2 {
      font-size: 18px;
    }
    a {
      font-size: 14px;
      margin-top: 50px;
    }
  }
}
